<!-- <h1>Day 35 Class Examples</h1>
<br>
<h3>Before Morning Break</h3>
<app-example></app-example>
<br>
<h3>Before Lunch</h3>
<app-file-upload></app-file-upload>
<br><br><br><br>
<app-gallery></app-gallery> -->
<!-- <h1>List Of Employees</h1>
<app-list-employees></app-list-employees>
<br><br><br>
<h1>Create Employee</h1>
<app-create-employee></app-create-employee> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CSF Angular Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="'/employee/list'">Employee List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/employee/create'">Add Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/gallery'">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <br>
    <h1>{{title}}</h1>
    <br>
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        My Super Robot, Copyright 2025
    </div>
</footer>